
body {
    background-color: #fff;
}
.product__main {
    position: relative;
}

.product__main:hover #main_edit {
    display: block;
}

#main_edit {
    position: absolute;
    text-align: center;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 30px;
    padding-top: 90%;
    font-size: 20px;
    width: 100%;
    display: none;
}

.header_nav {
    position: fixed;
    width: 100%;
    background-color: white;
    display: block;
}

#header_edit {
    margin-top: 55px;;
}
.nav__item {
    padding: 17px;
    position: relative;
}

.nav {
    display: flex;
    background-color: #fff;
}

.nav__item:hover {
    background-color: cadetblue;
}
.subnav__link:hover {
    background-color: cadetblue;
}

.sub_nav {
    display: none;
    position: absolute;
}

.nav__item:hover .sub_nav {
    display: block;
}

.subnav__link {
    white-space: nowrap;
    display: block;
    padding: 15px;
    background-color: #fff;
    color: #000;
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
}

.product {
    width: 33%;
}

.product__heading, 
.product__footer,
.product__about {
    text-align: center;
    outline: 1px solid black;
    background-color: antiquewhite;
}

.product__footer {
    margin-top: 3px;
    padding: 15px;
}

.product__footer:hover {
    background-color: cadetblue;
}

.product__link, 
.nav__link {
   color: #000;
}
.product__link:hover {
   color: white;
}

.product__img {
    display: block;
    width: 100%;
    outline: 1px solid black;
    margin-top: 3px;
}
/* .product__img:hover #main_edit {
    display: block;
} */

.hot-deals, 
.info_box,
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 79%;
    margin-left: 10.1%;
}

.hot-deals, .info_box {
    padding: 15px;
}

.login_rec, h1, .login_check {
    text-align: center;
}

.log-carpet {
    position: relative;
}

form {
    position: absolute;
    text-align: center;
    top: 0;
    color: rgba(94, 243, 1, 0.845);
    padding-top: 25%;
    font-size: 40px;
    width: 100%;
}

#greatcarpet {
    width: 100%;
    margin-top: 55px;
}

